.dayTopic {border:1px solid #e9e9e9;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;background:#f8f8f8;font-size:12px;padding:0 9px;margin-bottom:10px}
.dayTopic h4 {color:#0082cb;height:30px;margin:0;line-height:30px;border-bottom:1px dashed #cecece}
.dayTopic h4 em {font-size:12px}
.dayTopic h4 em b {color:#666;font-weight:bold}
.dayTopic .twi {margin:6px 0 8px 61px;padding:0;border:none;min-height:61px;_height:61px}
.dayTopic .twi .ugc {color:#444;line-height:18px}