.map2 {overflow:hidden}
.map2 dl {left:4px; position:relative; *position:static;display:inline-block;*display:inline;*zoom:1;width:30.7%;margin:0 3% 0 -4px;vertical-align:top}
.map2 dd {margin:1px 0 6px}
.map2 a {white-space:nowrap}
