



html,body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,dd,th,td,form,fieldset,legend,button,input,textarea,blockquote,address,pre {margin:0;padding:0}
table {border-collapse:collapse;border-spacing:0}
img,fieldset,hr,iframe {border:0}
img,.img {display:inline-block;vertical-align:top}
a,del,ins {text-decoration:none}
li {list-style:none}
q:before,q:after {content:''}
sup,sub {vertical-align:baseline}
body,input,button,textarea,select {font:normal 12px/1.667 Tahoma,Arial,"\5b8b\4f53",sans-serif;color:#333}
h1,h2,h3,h4,h5,h6,b {font-size:1em;font-weight:normal}
textarea {line-height:1.4;max-height:348px;resize:vertical}
i,cite,em,var,dfn,address {font-style:normal}
a {text-decoration:none;outline:0;color:#0082cb}
a:hover {text-decoration:underline}
a,label {cursor:pointer}
embed,object {display:block;outline:0}

* html body {_zoom:expression(function(x){x.style.zoom=1;try{document.execCommand('BackgroundImageCache',false,true)}catch(e){}}(this))}
a:active {*direction:expression(function(x){x.style.direction='ltr';x.hideFocus=1}(this))}
html,body {overflow:hidden;height:100%}
body {background:#a6e6ec url(//builder.oliv.cn/img/1/011.jpg) repeat-x top}

.SKY,.LAND,.Bdy,.pane,.main {-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
.SKY,.LAND {overflow:hidden;overflow-y:scroll;float:left;width:100%;height:100%;padding-top:115px}
.SKY {visibility:hidden;padding-bottom:8px}
.LAND {position:relative;margin:0 0 0 -100%}

.Bdy,.Lay,.tray {width:960px;margin:0 auto}
.Lay {height:100%}
.Bdy {border-width:10px 10px 10px 35px;-webkit-border-image:url(//builder.oliv.cn/img/1/003.png) 10 10 10 35 repeat;-moz-border-image:url(//builder.oliv.cn/img/1/003.png) 10 10 10 35 repeat}
.B0,.B1 {display:none;_overflow:hidden;_display:inline;_zoom:1;_width:100%;_height:32766px;_margin:0 0 -32766px}
.Bi {display:none;_display:block;width:1500px;height:100%;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//builder.oliv.cn/img/1/002.png',sizingMethod='scale')}
.B1 .Bi {_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//builder.oliv.cn/img/1/026.png',sizingMethod='scale')}

.Tray {z-index:7;top:-115px;position:relative;*zoom:1;float:left;width:100%;*float:none;*width:auto;height:40px;margin:0 0 -40px}
.Tray .Png {height:40px;margin:0 0 -40px;background:url(//builder.oliv.cn/img/1/001.png) repeat-x top;_background:none!important;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//builder.oliv.cn/img/1/001.png',sizingMethod='scale')}
.tray {height:35px}
.logo {left:160px;position:relative;width:160px;height:35px;margin:0 0 -35px -160px}
.logo h2 {position:relative;left:140px;top:5px;overflow:hidden;display:block;width:140px;height:25px;margin:0 0 -25px -140px}
.logo .png {height:100%;margin:0 0 -25px;background:url(//builder.oliv.cn/img/1/008.png) no-repeat;_background:none!important;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//builder.oliv.cn/img/1/008.png',sizingMethod='crop')}
.logo a {overflow:hidden;display:block;height:100%;text-indent:-99em}

.nav {*zoom:1;margin:0 0 0 186px;font-size:14px}
.nav2,.jumper {display:inline;float:right}
.jumper { position:relative;margin-top:5px}
.jumper .txt {display:inline-block}
.jumper .txt input {*float:left;width:148px; border-color:#33a8c1; vertical-align:top; background:#f6feff; -webkit-border-top-right-radius:0;-moz-border-radius-topright:0;border-radius-topright:0;-webkit-border-bottom-right-radius:0;-moz-border-radius-bottomright:0;border-radius-bottomright:0}
.jumper .blur input {background:#D8F6FB}
.jumper a { display:inline-block; width:28px;height:23px;border:1px solid #33a8c1; border-left-width:0; vertical-align:top; background:url(//builder.oliv.cn/img/1/009.png) no-repeat; -webkit-border-top-right-radius:3px;-moz-border-radius-topright:3px;border-radius-topright:3px;-webkit-border-bottom-right-radius:3px;-moz-border-radius-bottomright:3px;border-radius-bottomright:3px}
.jumper a:hover { background-position:0 -23px}
.jumper a:active { background-position:0 -46px}
.jumper .options{ left:0; top:-2px; width:0}
.jumper .options .option{width:183px}
.jumper .option q{cursor:pointer}
.jumper .option em{color:#fd0000; padding:0 3px}

.navG,.navL { display:inline; float:left}
.navL { height:35px;margin:0 1px 0 0}
.nava {display:block;padding:0 10px;color:#fff!important}
.nava b {display:inline-block;height:21px; line-height:21px; margin:7px 0}
.nava:hover,.nav a.on,.nav a.act { text-decoration:none; background:#1b8da9}
.nava .sign {margin:0 -3px 0 2px; vertical-align:middle}
.nav2 { margin:0;font-size:12px}
.nav2 .nava {margin-top:5px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}
.nav2 .nava b {margin:2px 0 2px}
.nav2 .navG {margin-left:-1px; background:url(//builder.oliv.cn/img/1/010.gif) no-repeat 0}
.nav2 .navG:first-child { background:none}

.Sbar,.Main,.Aside {float:left;width:100%}
.Main,.Aside {margin-left:-100%}
.Aside {z-index:0;position:relative; color:#999}
.aside {padding:8px 0 0;margin:0 -9px 0 554px}
.main,.aside {;margin-top:-10px;margin-bottom:-10px}

.navi {z-index:99;position:relative;width:35px;margin:18px 0 0 -35px;text-align:center}
.navi .p {display:block;width:29px;height:30px;margin:0 auto}
.navi a {display:block;width:29px; height:46px; margin:12px auto; line-height:12px; text-align:center; color:#5791a2; background:url(//builder.oliv.cn/img/1/021.png) no-repeat -99px}
.navi a:hover,.navi .on {text-decoration:none; background-position:0 0}

.main {z-index:3;position:relative;width:564px;min-height:999px;_height:999px;margin-left:-1px;border-width:10px;-webkit-border-image:url(//builder.oliv.cn/img/1/006.png) 10 repeat;-moz-border-image:url(//builder.oliv.cn/img/1/006.png) 10 repeat}
.mainC,.mainT {margin-left:-9px;margin-right:-7px}
.mainC .ap,.mainC .aps {margin-left:-10px;margin-right:-10px}
.mainT {min-height:30px;_height:30px;padding:10px 20px 0;margin-top:-10px;-webkit-border-top-right-radius:5px;-moz-border-radius-topright:5px;border-radius-topright:5px;-webkit-border-top-left-radius:5px;-moz-border-radius-topleft:5px;border-radius-topleft:5px; background:#f6f6f6}
.mainC {min-height:999px;_height:999px;border-width:0 10px;-webkit-border-image:url(//builder.oliv.cn/img/1/025.png) 10 repeat;-moz-border-image:url(//builder.oliv.cn/img/1/025.png) 10 repeat}
.main > div.mainC:first-child {margin-top:-10px;border-width:10px 10px 0}

.Pane { visibility:visible;z-index:2;position:relative;overflow:hidden;height:100%;margin:0 8px 0 595px}
.pane {position:relative;height:100%;padding:14px 0 0;border-width:10px 10px 10px 0;-webkit-border-image: url(//builder.oliv.cn/img/1/005.png) 10 repeat;-moz-border-image:url(//builder.oliv.cn/img/1/005.png) 10 repeat}
.paneT {top:-24px;position:relative;height:31px;margin:0 -9px -31px 0;background:url(//builder.oliv.cn/img/1/004.png) no-repeat right 0}
.paneT .fuc { display:inline-block;padding:6px 0 3px;margin:0 0 0 15px; color:#999}
.paneT a.fuc:hover { color:#858585}
.paneT .close {top:0; display:block;height:25px;width:30px; padding:0; margin:0 0 -25px -30px}
.paneT .signX {width:14px;height:14px;margin:8px 0 0;color:#b1b1b1}
.paneT .signX q {font-size:14px; line-height:14px}
.paneT .signX .k2 { color:#d0d0d0}
.paneT a.close:hover .signX { color:#858585}
.paneT a.close:hover .signX .k2 { color:#9c9c9c}
.paneC {top:7px;position:relative;overflow:hidden;overflow-y:auto;width:100%;height:100%; padding:0 4px 0 5px}

.paneC::-webkit-scrollbar {width:9px;height:9px}
.paneC::-webkit-scrollbar-button:start:decrement,.paneC::-webkit-scrollbar-button:end:increment {display:none}
.paneC::-webkit-scrollbar-track-piece {background-color:#FAFAFA;-webkit-border-bottom-right-radius:6px;-webkit-border-bottom-left-radius:6px}
.paneC::-webkit-scrollbar-thumb:vertical {height:50px;background-color:#999;-webkit-border-radius:6px}
.paneC::-webkit-scrollbar-thumb:horizontal {width:50px;background-color:#999;-webkit-border-radius:6px}


.gotop {visibility:visible;left:100%;top:100%;z-index:9;position:relative;overflow:hidden;width:20px;height:80px;margin:-80px 0 0 1px}
.gotop a,.gotop .ii {overflow:hidden;display:block;width:20px;height:67px;margin:0;cursor:pointer}
.gotop .ii {background:url(//builder.oliv.cn/img/1/019.png) no-repeat}
.gotop a:hover .ii { background-position:0 -100px}


.reminder {visibility:visible;left:100%;top:-80px;z-index:9;position:relative;*display:inline;*zoom:1; width:178px;height:20px; margin:0 0 -20px -180px}
.reminder ul { position:absolute;width:100%;padding:5px 0; border:1px solid #E9DBC0; background:#FFFFE4; color:#7a7a7a;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}
.reminder li {padding:0 10px}
.reminder em {margin:0 1px 0 0;font-weight:bold}



.ap,.aps {padding-left:20px;padding-right:20px}
.aps .ap {padding-left:0;padding-right:0}


.h3 {padding:0 0 0 10px}
.h3 h3,.h3 .opt {padding-top:10px}
.h3 .opt {float:right;}
.h3 h3 {font-size:16px;font-weight:bold;font-family:"\5b8b\4f53"; color:#666}
.h3 h3 .q {margin:0 0 0 12px;font-size:12px;font-weight:normal}

h4 {height:24px;padding:9px 20px 6px;border:1px solid #E9E9E9;border-width:1px 0 0; color:#666}
h4 em {font-size:14px}
h4 .opt {float:right;padding:2px 0 0; color:#999}
h4.h4 {border-width:0 0 1px}
h4.h4 .signArr {left:30px;top:25px;margin:0 0 -6px -12px;color:#E9E9E9}
h4.h4 .signArr .k2 { color:#fff}

.assist {padding-top:12px;padding-bottom:7px;border-bottom:1px solid #ECF0F3; color:#666}
.assist .opt{float:right;}


.aside .ap,.aside .aps {padding-top:10px;padding-bottom:12px;border-bottom:1px solid #C4E7EB;border-top:1px solid #ECFBFD}
.aside .aps .ap {display:inline-block;width:48%;padding:0;margin:0 .5%;border:0;vertical-align:top}
.aside > div[class^="ap"]:first-child {border-top:0}
.aside h4 {padding-top:0;border:0}
.paneC .ap,.paneC .aps {margin-left:-5px;margin-right:-4px}
.paneC .aps .ap {padding:0;margin-left:0}

.twis,.ap h4,.usrLis,.twiFinal .twi,.mainT .ap,.mainT .aps {margin-left:-20px;margin-right:-20px}
.aps .ap h4 { padding-left:0; padding-right:0; margin-left:0;margin-right:0}


.Col-S-M-A {}

.Col-M-A .Sbar,
.Col-M-A .Pane {display:none}
.Col-M-A .Bdy {border-width:10px}
.Col-M-A .Main {margin-left:0}
.Col-M-A .main {width:643px}
.Col-M-A .mainT {margin-right:-317px}
.Col-M-A .aside {padding-top:90px;margin-left:644px}

.Col-S-M {}
.Col-S-M .Aside .aside {display:none}
.Col-S-M .SKY .Lay { display:none}

.Col-M {}
.Col-M .SKY .Lay {display:none}
.Col-M .Sbar {display:none}
.Col-M .Aside {display:none}
.Col-M .Main { margin-left:-34px}
.Col-M .main {width:960px}
.Col-M .sideBar{float:right; width:255px;background:url(//builder.oliv.cn/img/s/lin/vr_sd_c2.gif) repeat-y left top; margin-left:-1px; margin-right:-10px}
.Col-M .mainInner{overflow:hidden; padding:0 17px 0 9px; background:url(//builder.oliv.cn/img/s/lin/vr_sd_c2.gif) repeat-y right top; min-height:999px}


.Bdy,.main {box-sizing:content-box\9}
.Bdy,.Lay,.tray {width:958px\9}
.Bdy {border:1px solid #99DAE1\9;background:url(//builder.oliv.cn/img/1/002.png) repeat-y\9}
.Main,.Sbar,.Aside {margin-top:0\9;margin-bottom:0px\9}
.main {width:560px\9}
.aside {margin-left:593px\9;margin-right:0\9}
.navi {margin-left:-1px\9}
.main {padding:10px 0\9;margin:0 0 0 33px\9;border:1px solid #e2e2e2\9;border-width:0 1px\9;border-left-color:#99DAE1;background:#fff\9}
.Pane {top:1px\9;margin-left:596px\9}
.pane {background:#fff\9;border:1px solid #e2e2e2\9;border-width:0 1px 1px 0\9}
.paneT,.paneC {left:0\9;margin-right:0\9}
.paneC {padding-left:0\9;padding-right:0\9}
.mainT,.mainC,.mainC .ap,.mainC .aps {margin-left:0\9;margin-right:0\9}

.SKY {padding-bottom:10px\0}
.pane {padding:31px 0 0\0}
.paneT {top:-31px\0;padding:0\0}
.paneC {top:0\0}

html {*overflow-y:hidden;*padding:145px 0 10px}
.SKY {*padding:0}
.Aside {*overflow:hidden}
.LAND {*padding:114px 0 41px;*margin-top:-145px}
.Bdy {*margin-bottom:-41px}
.Pane {*padding:31px 0 1px;*margin-top:-31px;*margin-left:594px}
.pane {*padding:0}
.lie {top:-31px;z-index:3;position:relative;display:none;*display:inline;*zoom:1;width:1px;*height:32766px;*margin:0 0 -32766px; background:#e2e2e2}
.paneT {*top:-31px;*left:1px;*border-right:1px solid #e2e2e2}
.paneC {*top:0}

.Bdy {_background:none!important}

.txt {display:inline-block;*display:inline;margin:0 0 0.2em;vertical-align:middle}
.txt input {height:19px;line-height:19px!important;padding:2px 4px 2px;border:1px solid #d8d8d8; vertical-align:top;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;outline:0}
.frm_qq .txt input {width:8em}
.frm_unit .txt input {width:164px}
.txt2 input {border-color:#c4c4c4;background-image:url(//s1.cr.itc.cn/img/s/lin/hr_sd_f2.gif)}
.txt3 input {padding:1px 3px;border-color:#b7c5cb;background-image:url(//s1.cr.itc.cn/img/s/lin/hr_sd_e9.gif)}
.rado,
.cbox {display:inline-block;margin:0 1em 0 0;_padding-bottom:1px;white-space:nowrap}
.rado input,
.cbox input {margin:0 4px 0 1px;position:relative;top:-2px;*position:static;*margin:-4px 1px -1px 0;_margin:0 1px -1px 0;vertical-align:middle;*vertical-align:auto;cursor:pointer}
.rado img,
.cbox img {vertical-align:middle;margin:0 0 0.3em}
option {padding-right:8px}
.tarea {position:relative;*zoom:1; padding:0 5px}
.tarea textarea {overflow:hidden;overflow-y:auto;display:block;zoom:1;width:100%;height:44px;padding:4px;margin-left:-5px;margin-right:-5px;border:1px solid #D1D1D1;vertical-align:top;word-wrap:break-word;word-break:break-all;outline:0;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}
.atFake {visibility:hidden;z-index:-9;top:0;left:0;position:absolute;overflow:hidden;overflow-y:auto;width:100%;font-size:12px;line-height:1.4}

.select {position:relative;display:inline-block;*display:inline;*zoom:1;margin:0 6px 0.2em 0;vertical-align:middle;*vertical-align:auto;border:1px solid #d8d8d8;padding:0 19px 0 5px;background:#fff url(//builder.oliv.cn/img/2/001.png) no-repeat right 0;cursor:pointer;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.select input {display:block;padding:3px 0 2px;*padding:2px 0 1px;margin:0;border:none;height:19px;line-height:19px!important;font-size:12px;background:none;cursor:pointer; color:#666; width:100%}
.selectDay {}
.selectTxt {width:150px}
.selectBday {width:90px}
.selectDate {width:95px}
.selectNum {width:22px}
.selectYear {width:40px}
.selectDegree {width:30px}
.selectCity{width:61px}
.selectCity .option{height:349px}

.select_hover {background-position:right -50px;border:1px solid #c5cdd5!important;}
.select_act {background-position:right -100px;border:1px solid #c5cdd5!important;}
.options {position:relative;height:0;font-size:0;line-height:0;display:block;left:-6px;width:0;padding:0 0 0 0;display:block;width:100%; padding:0 22px 0 0 }
.options .option {top:0;border:1px solid #c5cdd5;white-space:nowrap;position:absolute;font-size:12px;line-height:1.667;vertical-align:top;background:#fff;display:block;padding:1px; width:100%; overflow:auto; overflow-x:hidden;}
.options .option q {display:block;height:23px;line-height:23px;overflow: hidden;padding: 0 0 0 10px;white-space: nowrap;}
.options .option q.hover{background:#e6e6e6}

.txt input,.tarea textarea {-webkit-transition:-webkit-box-shadow 0.2s ease-out;-moz-transition:-moz-box-shadow 0.2s ease-out;transition:box-shadow 0.2s ease-out}
.txt input:focus,
.tarea textarea:focus {border-color:#7BB3CF;-webkit-box-shadow:0 0 5px rgba(123,179,207,.6);-moz-box-shadow:0 0 5px rgba(123,179,207,.6);box-shadow:0 0 5px rgba(123,179,207,.6)}

.tarea textarea::-webkit-scrollbar {width:9px;height:9px}
.tarea textarea::-webkit-scrollbar-button:start:decrement,.tarea textarea::-webkit-scrollbar-button:end:increment {display:none}
.tarea textarea::-webkit-scrollbar-track-piece {background-color:#FAFAFA;-webkit-border-bottom-right-radius:6px;-webkit-border-bottom-left-radius:6px}
.tarea textarea::-webkit-scrollbar-thumb:vertical {height:20px;background-color:#999;-webkit-border-radius:6px}


.form {*zoom:1}
fieldset {padding:8px 0 13px;*padding-top:4px;margin:-1px 0 0;background:url(//s1.cr.itc.cn/img/s/lin/hr_dt_ba.gif) repeat-x}
.form fieldset:first-child { background:none}
.legend {position:relative;padding:4px 10px;margin:18px 0 -1px;border-bottom:1px solid #eee;font-size:14px;font-weight:bold}
.frm {margin:10px 0 7px; padding:0 0 0 96px}
.frmT {position:relative;overflow:hidden;width:72px;padding:2px 0 5px;margin:0 0 -27px -78px;text-align:right}
.frmT em {display:block;height:20px; line-height:20px!important}
.frmC {min-height:27px;_height:27px}
.frm .pgc {display:inline-block;*display:inline;*zoom:1;padding:2px 0 0}
.frm dfn {margin-right:6px}
.frmTip {top:2px;*top:4px;position:relative;display:inline-block;*display:inline;*zoom:1;margin:0 0 0 10px;color:#999; vertical-align:top}
.frmTip .i {display:none; background-position:-200px -25px}
.frm_ok .frmTip .i { display:inline-block}
.frm_ok .frmTip b {display:none}
.frm_err .frmTip { color:#ff1812}
.frm_hint .frmTip { color:#999}
.frmTip2 {position:static;display:block;margin:1px 0 0;font-size:12px;line-height:1.667;color:#999}
.frmTip2 a{margin-left:3px}
.frmTip3 {color:#999}
.frmTip4 {clear:both;padding:6px 0 0;font-size:12px;color:#999}
.frmTip4  p {line-height:24px;text-indent:2em}
.frmTip5 {color:#ff7200;height:25px;line-height:25px}
.frmUrl .txt input{width:224px}
.frmTxt .txt input {width:224px}
.frmSubj .txt input {width:224px}
.form .cbox,.form .rado {margin-top:2px}

.formB .frmT,.formB .frmC {font-size:14px}
.formB fieldset {padding:12px 10px 23px;*padding-top:18px}
.formB .frm {margin:12px 0 9px; padding-left:112px}
.formB .frmT {width:84px;margin:0 0 -27px -92px}
.formB .tag3 {margin-top:1px;*margin-top:4px;_margin-top:5px}

.form2 fieldset {padding:0}
.form2 .frm {padding:0;margin:5px 0}
.form2 .frmT,
.form2 .frmC {display:inline;padding:0;margin:0}
.form2 .frmT em { display:inline}

.form3 .frm { padding:0!important; margin:5px 0!important}
.form3 .frmT,
.form3 .frmC {width:auto!important;padding:0!important; margin:0!important; text-align:left}

.form4 { font-size:14px}
.form4 .frm { padding:0; margin:5px 0}
.form4 .frmT,
.form4 .frmC {width:auto;padding:6px 10px; margin:0; text-align:left}
.form4 .frmT {padding:6px 10px;margin:10px 0;background:url(//s1.cr.itc.cn/img/s/lin/hr_dt_ba.gif) repeat-x bottom;}
.form4 .frmT em {font-weight:bold}
.form4 .frmSubmit {padding-left:10px;border-top:1px solid #e5e5e5;padding-top:20px}

.mw .frm {padding-left:80px}
.mw .frmT {width:60px;margin-left:-70px}



.post .ttl {margin:0 0 3px}
.post .tarea {clear:both}
.postMax,.postAtt,.postAtt .fuc {font-size:12px;color:#acb3bb}

.postAtt {float:left}
.postAtt li {display:inline-block;*display:inline;*zoom:1;vertical-align:top;margin:0 12px 0 0;height:22px}
.postAtt li .i {padding-right:3px}
.postAtt li .del {display:inline-block;*display:inline;*zoom:1;*vertical-align:top;margin:0;left:0;top:3px}
.postAtt li .fuc {display:inline-block;*display:inline;*zoom:1;position:relative}
.postAtt li a.fuc:hover { color:#6e7981}
.postAtt li .dropD .close {margin:0 0 -16px -22px;left:100%;top:6px;*zoom:1;z-index:10;display:block;position:relative}
.post .dropD {border:3px solid #ced2d4;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;padding:1px;background:#a7a7a7;white-space:nowrap}
.post .dropT {border-bottom:1px solid #e0e0e0;height:28px;line-height:28px;padding:0 9px;background:#f0f4f5;color:#666;*width:337px}
.post .dropC {background:#fff;white-space:normal}
.post .dropD .signArr {width:16px;height:12px;margin:0 0 -12px -16px;overflow:hidden;line-height:0;top:-12px;display:block}
.post .dropD .signArr q {color:#c9cdcf;width:16px;font-size:16px;line-height:18px}
.post .dropD .signArr .k2 {color:#b4babb;top:5px;_top:-3px}
.post .dropD .signArr .k3 {color:#f0f4f5;top:6px;_top:-7px}

.postSub {text-align:right}
.postCmt {margin-left:45px}
.postCmt .tarea textarea {height:22px}
.postCmt .ttl {margin-left:-50px}
body .postCmt .avt32 {left:-12px;position:relative;margin:0 0 -32px -32px}

.postMax {display:inline-block;font-family:"\5b8b\4f53";padding-right:10px;vertical-align:top; line-height:12px}
.postSub {padding-top:10px;*padding-top:8px}
.postAtt {padding-top:5px}


.twiPost .post .ttl em {font-family:"\5fae\8f6f\96c5\9ed1","\5b8b\4f53";font-size:18px;color:#666}


.i,.ii,.p,.add,.add q,.dot,.sign {overflow:hidden;display:inline-block;line-height:0!important;text-decoration:none!important}

.i,.ii,.p {width:16px;height:16px;margin-bottom:0.25em;vertical-align:middle}
.i {background:url(//builder.oliv.cn/img/1/018.png) no-repeat}
.ii {background-repeat:no-repeat}
.iH {width:20px;height:20px;background-image:url(//builder.oliv.cn/img/1/007.png)}

.i3 {background:#369}
.i4 {background-position:0 -325px}
.i4_hover {background-position:-25px -325px}
.tab .i4,.tab .i4_hover {padding:0 0 5px;margin:0 0 -5px}
.i5 {width:18px;height:18px;background-position:0 -300px}
a:hover .i5 {background-position:-25px -300px}
.act .i5 {background-position:-50px -300px}
a.act:hover .i5 {background-position:-75px -300px}
.i6 { background:#9cf}
a:hover .i6 { background:#369}
.i7 { background:#9cf}
a:hover .i7 { background:#369}


.i36 {width:13px;background-position:0 -175px}
a:hover .i36 {background-position:-25px -175px}
.i37 {width:11px;background-position:-50px -175px}
a:hover .i37 {background-position:-75px -175px}
.i38 {width:11px;background-position:-150px -75px}
a:hover .i38 {background-position:-175px -75px}
.i40 {width:12px;background-position:0 -250px}
a:hover .i40 {background-position:-25px -250px}
.i41 {width:12px;background-position:-100px -100px}
.i42 {background-position:-125px -175px}
.i43 {width:13px;background-position:-100px -225px}
.i44 {background-position:-50px -250px}


.i46 {background-position:-25px 0}

.i48 {background-position:0 0}
.i49 {background-position:0 -25px}
.i50 {background-position:-100px 0}
.i50_on {background-position:-125px 0}
.i52 {background-position:-125px -225px}
.i53 {background-image:url(//s3.cr.itc.cn/img/t/ico_png24.png);_background-image:url(//s3.cr.itc.cn/img/t/ico_png8.png)}
.i53 {width:7px;background-position:0 0}
a:hover .i53 {background-position:-25px 0}
a.lbs:hover .i53,
.i53_act {background-position:-50px 0!important}
.i54 {width:10px;background-position:-100px -125px}
a:hover .i54 {background-position:-125px -125px}
.i55 {background-position:-125px -100px}
.i56 {background-position:-25px -25px}
.i59 {background-position:-150px -150px}
.i60 {background-position:-175px -150px}
.i61 {background-position:-200px -150px}
.i62 {background-position:-150px -200px}
a:hover .i62 {background-position:-175px -200px}
.i63 {background-position:-50px -275px}
a:hover .i63 {background-position:-75px -275px}
.btn .i63 {background-position:-150px -225px}
a.btn:hover .i63 {background-position:-175px -225px}

.i66 {background-position:-25px 0}
.i67 {background-position:-50px 0}
.i67_txt {width:18px!important;padding:0 0 0 2px;font-size:10px;font-family:Arial;line-height:19px!important;background-position:-75px 0;color:#fff;-webkit-text-size-adjust:none}
.i68 {background-position:-50px -25px}
.i69 {background-position:-75px -25px}

.i100 {width:18px;height:18px;background-position:-100px -300px}
a:hover .i100 {background-position:-125px -300px}
.twi_act:active .i100,a:active .i100,
.twi_hover:active .i100,a:active .i100 {background-position:-150px -300px}
.twi_act .i100 {background-position:-100px -325px}
.twi_act a:hover .i100 {background-position:-125px -325px}
.twi_act:active .i100,.twi_act a:active .i100 {background-position:-150px -325px}

.iSms {width:17px;background-position:-125px -250px}
a:hover .iSms {background-position:-150px -250px}
.iWq {top:2px;position:relative;width:20px;background-position:-50px 0;*vertical-align:auto}
.iVdo {background-position:-100px -175px}
.iRss {background-position:-125px -150px}
.iMobi {background-position:-50px -25px}
.iAim {width:25px;margin:0 5px 0 0;*margin-bottom:0.1em;background-position:-100px -75px}
.iDel {width:10px;background-position:-50px -150px}
.iDel2 {background-position:-200px -75px}
.iDel3 {background-position:-100px -150px}
a:hover .iDel2 {background-position:-225px -75px}
a:hover .iDel3 {background-position:-72px -150px}
.iFlush {margin:0 0 1px\0;background-position:-150px -125px}
.iEmpty {width:10px;background-position:-50px -150px}
a:hover .iEmpty {background-position:-75px -150px}
.iMale,
.iFemale {background-position:0 -25px}
.iMale {background-position:-25px -25px}
.iEachother {width:37px;background-position:-100px -25px}
.iAdded {background-position:-100px -50px}
i.iLoading,.iLoading2 {background:url(//s1.cr.itc.cn/img/s/ico/0178.gif) no-repeat 0}
.iSug,
.iReport {background-position:-175px -125px}
.iOk {background-position:-200px -25px}
.iOk2 {background-position:-150px -25px}
.iErr {background-position:-175px -25px}
.iPriv,.iLock {background-position:-200px -125px}
.iUnlock {background-position:-225px -125px}
.iJoined {width:18px;margin-right:6px;background-position:-50px -75px}
.iJoined2 {width:20px;margin-right:3px;background-position:-75px -75px}
.iPost {width:12px;background-position:-150px -50px}
a:hover .iPost {background-position:-175px -50px}
.iCw {width:16px;background-position:-50px -225px}
.iCcw {width:12px;background-position:-75px -225px}
.iSet {background-position:0 -225px}
a:hover .iSet {background-position:0 -225px}
.iall {width:19px;margin-bottom:0.2em;background:url(//s3.cr.itc.cn/img/t/437.png) no-repeat 0 -51px}
a:hover .iall {background-position:-25px -51px}
.iall_act {background-position:0 -101px}
a:hover .iall_act {background-position:-25px -101px}



.p .png {width:100px;height:100px;background:url(//s2.cr.itc.cn/img/t/264.png) no-repeat;_background:none!important}
.pVer {margin-bottom:0.2em}
.pVer .png {width:152px;height:42px;background-image:url(//builder.oliv.cn/img/1/023.png);_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//builder.oliv.cn/img/1/023.png',sizingMethod='crop')}
.pVer2 {width:26px;height:26px}
.pVer2 .png {margin:-16px 0 0}
.pVer3 {width:126px;height:25px}
.pVer3 .png {margin:-16px 0 0 -26px}
/*.usrStat .pVer {width:26px;height:26px}
.usrStat .pVer .png {margin:-16px 0 0}
.usrStat2 .pVer {width:126px;height:25px}
.usrStat2 .pVer .png {margin:-16px 0 0 -26px}*/

.navi .p .png {width:29px;height:120px;background-image:url(//builder.oliv.cn/img/1/020.png);_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//builder.oliv.cn/img/1/020.png',sizingMethod='crop')}
.navi .t2 .png {margin:-30px 0 0}
.navi .t3 .png {margin:-60px 0 0}
.navi .t4 .png {margin:-90px 0 0}



.dot {width:2px;height:2px;margin:3px 5px;background:#666}
.add {width:8px; height:8px;margin:0 2px}
.add q {display:block;background:#2BADD7}
.add .k1 {width:8px;height:2px;margin:3px 0 -5px}
.add .k2 {width:2px;height:8px;margin:0 0 0 3px}

.sign {position:relative;width:12px;height:12px;text-align:left}
.sign q {left:12px;position:relative;display:block;width:12px;height:12px;margin:0 0 -12px -12px;font-size:12px; line-height:12px;font-family:"\5b8b\4f53"}
.sign .k2 {top:1px}
.signX {font-weight:bold}
.signArr {position:relative;display:block;width:12px;height:6px;color:#C1E6EA; font-size-adjust:0.4}
.signArr2 {width:12px;height:4px}
.signArr2 q,.signArr2 .k2 {left:12px;top:-7px}

.signArr3{width:10px;height:12px}
.signArr3 q{height:12px;margin-left:-13px;overflow:hidden;top:-5px;line-height:12px; vertical-align:top;font-weight:bold}
.signArr3 q.k2{height:6px;top:4px;height:7px\9;top:3px\9;font-size:14px;margin-left:-14px}
.signArr3_act{width:10px;height:10px}
.signArr3_act q{height:12px;margin-left:-13px;overflow:hidden;top:4px;line-height:12px;vertical-align:top;font-weight:bold}
.signArr3_act q.k2{height:12px;top:-5px;top:-6px\9;font-size:14px;margin-left:-14px}
.fuc .signArr3 {margin:0 0 0.25em; vertical-align:middle}

.signArr4,.signArr5 {width:5px;height:10px}
.signArr4 q {left:12px;top:0px}
.signArr5 q {left:6px;top:0px}


.signArr6{width:10px;height:12px}
.signArr6 q{height:12px;margin-left:-13px;overflow:hidden;top:-5px;line-height:12px; vertical-align:top}
.signArr6 q.k2{height:6px;top:4px;height:7px\9;top:3px\9;font-size:14px;margin-left:-14px}
.signArr6_act{width:10px;height:10px}
.signArr6_act q{height:12px;margin-left:-13px;overflow:hidden;top:4px;line-height:12px;vertical-align:top}
.signArr6_act q.k2{height:12px;top:-5px;top:-6px\9;font-size:14px;margin-left:-14px}
.fuc .signArr6 {margin:0 0 0.25em; vertical-align:middle}

.btn,.btn b {overflow:hidden;font-family:"\5b8b\4f53"}
.btn {display:inline-block;margin:0 0 0.2em;border:1px solid #3994c6;font-size:14px;vertical-align:middle;white-space:nowrap;background:url(//builder.oliv.cn/img/1/012.png) no-repeat right 0;color:#fff;cursor:pointer;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
.btn b { text-indent:0;display:block;*display:inline;*zoom:1;height:19px;line-height:19px!important;padding:5px 14px 4px 15px;margin:0;*vertical-align:top}
a.btn:hover {border-color:#36a5e2;background-position:right -50px;text-decoration:none}
a.btn:hover b {text-decoration:none}
a.btn:active {border-color:#1d73a2;background-position:right -100px}

.btn_min {border-color:#D1D1D1!important;background-position:right -200px;color:#828588}
a.btn_min:hover {background-position:right -250px}
a.btn_min:active {background-position:right -300px}

.btn_dis {border-color:#d1d1d1!important;color:#999!important;background-position:right -150px!important;cursor:default}

.btn_loading { position:relative}
.btn_loading b { visibility:hidden;*visibility:visible;*color:#c30!important;*background:url(//s1.cr.itc.cn/img/s/ico/0178.gif) no-repeat center!important;*filter:Chroma(color=#cc3300)}
.btn_loading:after {left:0;top:0; position:absolute;width:100%;height:100%;zoom:1;margin:0;background:url(//s1.cr.itc.cn/img/s/ico/0178.gif) no-repeat center!important;content:""}


.btnM {font-size:12px;background-image:url(//builder.oliv.cn/img/1/013.png)}
.btnM b {padding:2px 9px 2px}


.btnM2 {border-color:#549300!important;font-size:12px;background-image:url(//builder.oliv.cn/img/1/014.png)}
.btnM2 b {padding:3px 9px 1px}
.btnM2 .add {margin-right:3px}
.btnM2 .add q { background:#fff}


.btnM3 {border-color:#d1d1d1!important;font-size:12px;background-image:url(//builder.oliv.cn/img/1/015.png);color:#666}
.btnM3 b {padding:2px 9px 2px}

.btns .btn {margin-right:10px;vertical-align:top}
.btns2 {text-align:right}
.btns2 .btn {margin-left:10px}
.btns2 .opt {float:left;color:#999}
.btns3 {position:relative;*zoom:1;text-align:center}
.btns3 .btn {margin-left:6px;margin-right:6px}
.btns3 .opt {top:3px;*top:5px;right:0;position:absolute;text-align:right}



.btnH {border-color:transparent;font-size:12px;background-image:url(//builder.oliv.cn/img/1/016.png);color:#999;_border-color:#c30;_filter:Chroma(color=#cc3300)}
.btnH b {padding:3px 4px 1px}
a.btnH:hover,
a.btnH:active {border-color:#d7d7d7;color:#666}



.btnH2 {background-image:url(//builder.oliv.cn/img/1/017.png);color:#999}
.btnH2 b {padding:3px 18px 1px 6px}
a.btnH2:hover {color:#666}
.btn_act {z-index:12;position:relative;border-color:#d1d1d1!important; border-bottom-color:#fff!important;color:#666!important;background-position:right -150px!important;color:#666!important;-webkit-border-bottom-right-radius:0;-moz-border-radius-bottomright:0;border-radius-bottomright:0;-webkit-border-bottom-left-radius:0;-moz-border-radius-bottomleft:0;border-radius-bottomleft:0}
.fuc {font-size:12px;white-space:nowrap;font-family:"\5b8b\4f53";color:#2BADD7}
a.fuc:hover {text-decoration:none;_text-decoration:underline}
a.fuc:hover b {text-decoration:underline}
.fuc_dis,.fuc_dis b {color:#999!important;text-decoration:none!important}
.fuc_dis .add {display:none}
.fuc_dis {cursor:default}

.fucs { text-align:left}
.fucs .fuc {margin-right:10px}
.fucs2 {text-align:right}
.fucs3 {text-align:center}


.fucUndo {padding-left:8px;margin:0 0 0 7px;line-height:17px;background:url(//s3.cr.itc.cn/img/t/151.gif) no-repeat 0; color:#999}
.fucBack { color:#999}

.close,.del {z-index:9;top:1px;left:100%;position:relative;overflow:hidden;display:block;width:16px;height:16px;margin:0 0 -16px -18px;text-align:center;*vertical-align:middle;color:#bababa}
a.close:hover,a.del:hover {text-decoration:none;color:#8a8a8a}
.x {overflow:hidden;display:inline-block;width:20px;height:20px;margin:0 0 .25em;line-height:0!important;text-decoration:none!important;vertical-align:middle;background:url(//s3.cr.itc.cn/img/i3/t/x11.png) no-repeat}


.x01 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2026.gif)}
.x02 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2027.gif)}
.x03 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2028.gif)}
.x04 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2030.gif)}
.x05 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2038.gif)}
.x06 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2033.gif)}
.x07 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2046.gif)}
.x08 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2031.gif)}
.x09 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2034.gif)}
.x10 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2035.gif)}
.x11 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2036.gif)}
.x12 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2037.gif)}
.x13 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2040.gif)}
.x14 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2060.gif)}
.x15 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2041.gif)}
.x16 {background-position:-80px 0}
.x17 {background-position:-100px 0}
.x18 {background-position:-140px 0}
.x19 {background-position:-160px 0}
.x20 {background-position:-200px 0}
.x21 {background-position:-120px 0}
.x22 {background-position:-80px -20px}
.x23 {background-position:-200px -20px}
.x24 {background-position:0 -40px}
.x25 {background-position:-20px -40px}
.x26 {background-position:-60px 0}
.x27 {background-position:-40px -40px}
.x28 {background-position:-120px -40px}
.x29 {background-position:-140px -40px}
.x30 {background-position:-160px -40px}
.x31 {background-position:-20px -140px}
.x32 {background-position:-80px -40px}
.x33,
.x34 {background-position:-100px -40px}
.x35 {background-image:url(//s3.cr.itc.cn/img/t/312.gif)}
.x36 {background-image:url(//s3.cr.itc.cn/img/t/341.gif)}
.x37 {background-image:url(//s3.cr.itc.cn/img/t/351.gif)}
.x38 {background-image:url(//s3.cr.itc.cn/img/t/352.gif)}
.x39 {background-image:url(//s3.cr.itc.cn/img/t/355.gif)}
.x40 {background-image:url(//s3.cr.itc.cn/img/t/357.gif)}
.x41 {background-image:url(//s3.cr.itc.cn/img/t/362.gif)}
.x42 {background-image:url(//s3.cr.itc.cn/img/t/379.gif)}
.x43 {background-image:url(//s3.cr.itc.cn/img/t/380.gif)}
.x44 {background-image:url(//s3.cr.itc.cn/img/t/378.gif)}
.x45 {background-image:url(//s1.cr.itc.cn/img/t/377.gif)}
.x46 {background-image:url(//s1.cr.itc.cn/img/t/382.gif)}
.x47 {background-image:url(//s1.cr.itc.cn/img/t/383.gif)}
.x48 {background-image:url(//s3.cr.itc.cn/img/t/389.gif)}
.x49 {background-image:url(//s3.cr.itc.cn/img/t/400.gif)}
.x50 {background-image:url(//s3.cr.itc.cn/img/t/398.gif)}
.x51 {background-image:url(//s3.cr.itc.cn/img/t/399.gif)}
.x52 {background-image:url(//s3.cr.itc.cn/img/t/407.gif)}
.x53 {background-position:-220px 0}
.x54 {background-position:-220px -20px}
.x55 {background-position:-200px -40px}
.x56 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2058.gif)}
.x57 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2059.gif)}
.x58 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2061.gif)}
.x59 {background-position:0 -20px}
.x60 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2029.gif)}
.x61 {background-position:-180px -40px}
.x62 {background-position:-180px 0}
.x63 {background-image:url(http://s3.cr.itc.cn/img/i3/t/061.gif)}
.x64 {background-position:-180px -20px}
.x65 {background-position:-160px -20px}
.x66 {background-position:-140px -20px}
.x67 {background-position:-120px -20px}
.x68 {background-position:-100px -20px}
.x69 {background-position:-60px -40px}
.x70 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2039.gif)}
.x71 {background-position:-60px -20px}
.x72 {background-position:-40px -20px}
.x73 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2042.gif)}
.x74 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2043.gif)}
.x75 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2044.gif)}
.x76 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2045.gif)}
.x77 {background-position:-20px -20px}
.x78 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2047.gif)}
.x79 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2048.gif)}
.x80 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2049.gif)}
.x81 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2050.gif)}
.x82 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2051.gif)}
.x83 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2052.gif)}
.x84 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2053.gif)}
.x85 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2054.gif)}
.x86 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2055.gif)}
.x87 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2056.gif)}
.x88 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2057.gif)}
.x89 {background-image:url(http://s3.cr.itc.cn/img/t/425.gif)}


.x01_p {background-position:0 -80px}
.x02_p {background-position:-20px -80px}
.x03_p {background-position:-40px -80px}
.x04_p {background-position:-80px -80px}
.x05_p {background-position:0 -100px}
.x06_p {background-position:-140px -80px}
.x07_p {background-position:-160px -100px}
.x08_p {background-position:-100px -80px}
.x09_p {background-position:-160px -80px}
.x10_p {background-position:-180px -80px}
.x11_p {background-position:-200px -80px}
.x12_p {background-position:-220px -80px}
.x13_p {background-position:-40px -100px}
.x14_p {background-position:-200px -120px}
.x15_p {background-position:-60px -100px}
.x16_p {background-position:-80px 0}
.x17_p {background-position:-100px 0}
.x18_p {background-position:-140px 0}
.x19_p {background-position:-160px 0}
.x20_p {background-position:-200px 0}
.x21_p {background-position:-120px 0}
.x22_p {background-position:-80px -20px}
.x23_p {background-position:-200px -20px}
.x24_p {background-position:0 -40px}
.x25_p {background-position:-20px -40px}
.x26_p {background-position:-60px 0}
.x27_p {background-position:-40px -40px}
.x28_p {background-position:-120px -40px}
.x29_p {background-position:-140px -40px}
.x30_p {background-position:-160px -40px}
.x31_p {background-position:-20px -140px}
.x32_p {background-position:-80px -40px}
.x33_p,
.x34_p {background-position:-100px -40px}
.x35_p {background-position:-220px -40px}
.x36_p {background-position:-220px -60px}
.x37_p {background-position:-20px 0}
.x38_p {background-position:0 0}
.x39_p {background-position:-40px 0}
.x40_p {background-position:-140px -60px}
.x41_p {background-position:-120px -60px}
.x42_p {background-position:0 -60px}
.x43_p {background-position:-20px -60px}
.x44_p {background-position:-40px -60px}
.x45_p {background-position:-60px -60px}
.x46_p {background-position:-80px -60px}
.x47_p {background-position:-100px -60px}
.x48_p {background-position:0 -140px}
.x49_p {background-position:-200px -60px}
.x50_p {background-position:-160px -60px}
.x51_p {background-position:-180px -60px}
.x52_p {background-position:-40px -140px}
.x53_p {background-position:-220px 0}
.x54_p {background-position:-220px -20px}
.x55_p {background-position:-200px -40px}
.x56_p {background-position:-160px -120px}
.x57_p {background-position:-180px -120px}
.x58_p {background-position:-220px -120px}
.x59_p {background-position:0 -20px}
.x60_p {background-position:-60px -80px}
.x61_p {background-position:-180px -40px}
.x62_p {background-position:-180px 0}
.x63_p {background-position:-120px -80px}
.x64_p {background-position:-180px -20px}
.x65_p {background-position:-160px -20px}
.x66_p {background-position:-140px -20px}
.x67_p {background-position:-120px -20px}
.x68_p {background-position:-100px -20px}
.x69_p {background-position:-60px -40px}
.x70_p {background-position:-20px -100px}
.x71_p {background-position:-60px -20px}
.x72_p {background-position:-40px -20px}
.x73_p {background-position:-80px -100px}
.x74_p {background-position:-100px -100px}
.x75_p {background-position:-120px -100px}
.x76_p {background-position:-140px -100px}
.x77_p {background-position:-20px -20px}
.x78_p {background-position:-180px -100px}
.x79_p {background-position:-200px -100px}
.x80_p {background-position:-220px -100px}
.x81_p {background-position:0 -120px}
.x82_p {background-position:-20px -120px}
.x83_p {background-position:-40px -120px}
.x84_p {background-position:-60px -120px}
.x85_p {background-position:-80px -120px}
.x86_p {background-position:-100px -120px}
.x87_p {background-position:-120px -120px}
.x88_p {background-position:-140px -120px}
.x89_p {background-position:-60px -140px}


.simi {width:349px;padding:3px;margin:0;font-size:12px; overflow:hidden;}
.simi a {display:inline-block; *display:inline;*zoom:1; overflow:hidden}
.simi .c {overflow:hidden;_overflow:visible;min-height:58px;_height:58px;padding:1px 0 0;background:url(//s3.cr.itc.cn/img/t/306.gif)}
.simi .x {margin:0;vertical-align:top}
.simi .c a {width:20px;height:20px;padding:5px;margin:-1px -1px 0 0;vertical-align:top}
.simi .c a:not(p) {text-indent:0}.simi .c a {text-indent:0\0}
.simi .c .x {text-indent:0}
.simi .c a:hover {position:relative;padding:4px;border:1px solid #90acbd;background:#e4f1f9}
.simi .arr {left:32px;top:-12px;z-index:10;width:15px;height:9px;font-size:0;line-height:0;margin:0 0 -9px -15px;background:url(//s3.cr.itc.cn/img/t/433.gif) no-repeat}
.simi .stick {position:relative;min-height:0;_height:auto;margin-bottom:-1px;background-image:url(//s3.cr.itc.cn/img/t/305.gif)}
.simi .stick a:hover {border-color:#ef874f;background:#fff3d5}

.simiT {top:-2px;position:relative;height:24px;padding:4px 0 0 8px;margin:0 -3px 1px;text-indent:-2px;background:url(http://builder.oliv.cn/img/2/002.gif) repeat-x;overflow:hidden}
.simiT a,.simiT b {overflow:hidden;display:inline-block;*display:inline;*zoom:1;height:24px;line-height:22px;line-height:25px\9;padding:0 0 0 10px;text-indent:0;vertical-align:top;background:url(//s3.cr.itc.cn/img/t/406.png) no-repeat}
.simiT b {display:block;_display:inline-block;padding:0 10px 0 0;background-position:right -25px}
.simiT a:first-child {background-position:0 -25px}
.simiT .on {position:relative;padding-left:12px;margin:0 -2px;background-position:0 -50px!important}
.simiT .on b {padding-right:12px;background-position:right -75px}
.simiT .on,.simiT a.on:hover {text-decoration:none;color:#666}

.simiV {left:290px;z-index:999;position:relative;width:57px;height:57px;border:1px solid #90acbd;margin:0 0 -59px 0;text-align:center;background:#fff}
.simiV .x {margin:18px 0 0}




.avt {position:relative;overflow:hidden;width:48px;height:48px;vertical-align:top}
.avt a:hover {text-decoration:none}
.avt .img,.avt img {width:48px;height:48px;margin:0; background:#fff no-repeat center;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}

.avt24 {width:24px!important;height:24px!important}
.avt32 {width:32px!important;height:32px!important}
.avt180 {width:180px!important;height:180px!important}

.avt .img {-moz-background-size:48px;-webkit-background-size:48px;background-size:48px}
.avt24 .img,.avt24 img {width:24px;height:24px;-moz-background-size:24px;-webkit-background-size:24px;background-size:24px}
.avt180 .img,.avt180 img {width:180px;height:180px;-moz-background-size:180px;-webkit-background-size:180px;background-size:180px}
.avt32 .img,.avt32 img {width:32px;height:32px;-moz-background-size:32px;-webkit-background-size:32px;background-size:32px}

.avtUp {top:180px; position:relative;display:block;height:25px; margin:0 0 -25px;line-height:25px;text-align:center;font-size:12px;color:#fff; background:rgba(0,0,0,.5);-webkit-border-bottom-right-radius:5px;-moz-border-radius-bottomright:5px;border-radius-bottomright:5px;-webkit-border-bottom-left-radius:5px;-moz-border-radius-bottomleft:5px;border-radius-bottomleft:5px;-webkit-transition:top 0.2s ease-out;-moz-transition:top 0.2s ease-out;transition:top 0.2s ease-out}
a:hover .avtUp {top:155px}


.h3 .usr {margin:10px 0 0 40px}
.h3 .usr .avt32 {top:4px;margin:0 0 -32px -32px}
.pic {position:relative;display:inline-block;margin:0 15px 0 0;vertical-align:top}
.pic a,.pic b {position:relative;overflow:hidden;display:inline-block;vertical-align:top}
.twi .pics .pic a {cursor:url(//s1.cr.itc.cn/img/t/zoomin.cur) 6 8,pointer;cursor:url(//s1.cr.itc.cn/img/t/zoomin.cur)\9}
.twi .pics .picV a {cursor:pointer}
.pic .iFake,
.pic .iMask {position:absolute;overflow:hidden;width:100%;height:100%;margin:0;cursor:default;_display:inline;_float:left;_top:50%!important;_left:50%!important;_position:relative;_width:400px!important;_height:400px!important;_margin:-200px}
.pic .iFake {width:100%;height:100%;opacity:0.5;filter:alpha(opacity=50);background:#fff}
.pic .iFake .ii {display:block;width:100%;height:100%;margin:0}

.pic img {display:block;vertical-align:top}
.vdo,.picB {overflow:hidden;display:block}
.picB img,.picB canvas {max-width:400px;max-height:400px;vertical-align:top}
.vdo embed,.vdo object {width:400px;max-height:400px}
.paneC .picB img,.paneC .picB canvas {max-width:100%;height:auto!important}
* html .paneC .picB img {_zoom:expression(function(x){if(x.offsetWidth>x.parentNode.offsetWidth){x.style.width='100%!important';x.style.zoom=1}}(this))}
.paneC .vdo embed,.paneC .vdo object {width:100%}
.media .c,.APC {padding-bottom:9px}
.media .oper,.APoper {padding:5px 0 0;margin:0 0 6px;color:#cdcdcd;font-size:12px}
.media .picB {cursor:url(//s1.cr.itc.cn/img/t/zoomout.cur) 6 8,pointer;cursor:url(//s1.cr.itc.cn/img/t/zoomout.cur)\9}
.pic .iMask {cursor:pointer}
.pic .iMask b {top:50%;left:50%;position:absolute;width:200px;height:200px;margin:-100px;_position:relative;background:url(//s2.cr.itc.cn/img/t/255.png) no-repeat;_background:none!important;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//s2.cr.itc.cn/img/t/255.png',sizingMethod='crop')}
a:hover .iMask b {background-position:0 -200px;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//s2.cr.itc.cn/img/t/256.png',sizingMethod='crop')}

.pics {margin-top:5px;text-align:left;font-size:12px}

.main,.mainT,.mainC,.Bdy,.ap,.aps,h4,.post,.twi,.lis,.usrPanel,.usrLi {*zoom:1}
.main:after,.mainT:after,.mainC:after,.Bdy:after,.ap:after,.aps:after,h4:after,.post:after,.twi:after,.lis:after,.usrPanel:after,.usrLi:after {overflow:hidden;clear:both;display:block;height:0;content:"\20"}
.ugc,.bio,.pgc,.uri,.nm a,.nm b,.atfake,.twiT,.twiC {word-wrap:break-word;word-break:break-all}
.ugc,.bio,.pgc,.uri,.atfake {white-space:normal}



.tm,
.q,
.from,
.from a,
.ttl q {color:#999;font-family:"\5b8b\4f53"}
.local,.unit,.relat,.bio {color:#666}
.num {margin:0 3px;color:#3271C0}
.em {font-weight:bold}
.em2,.err {color:#ff1812}
.from {margin-left:6px}
.lbs {padding:0 4px;margin-left:3px}
.fake {font-size:0;line-height:0}
.png { display:block}
.at {position:relative;top:-0.084em;*position:static;font-family:Arial;font-style:normal!important;text-decoration:none!important}
.overlay,.cover {position:absolute;width:100%;height:100%;border:0;opacity:0;filter:alpha(opacity=0);background:#000}
.cover {opacity:.4;filter:alpha(opacity=40)}
.split {margin:0 4px 0 3px;color:#dadada}
.ugc {display:inline}
.ugc .nm {display:inline!important}

.nm {display:inline-block;text-indent:0;white-space:nowrap}
.nm2r {height:36px;line-height:18px}



.nodis,.noDis {display:none!important}
.novis,.noVis {visibility:hidden!important}
.noSize {display:block;width:0;height:0;font-size:0;line-height:0}
.blur,.blur textarea,.blur input {color:#999}
.act {z-index:20;position:relative}
.cursor-wait {cursor:wait}

.loading2,
.loading3 {background:url(//s1.cr.itc.cn/img/s/ico/0167.gif) no-repeat 0}
.loading {overflow:hidden;text-align:center}
.loading em {display:inline-block;height:19px;line-height:19px;padding:12px 0 11px; text-indent:23px;font-size:14px;color:#a0a0a0;background:url(//s1.cr.itc.cn/img/s/ico/0178.gif) no-repeat 0}
.loading2 {overflow:hidden;*zoom:1;background-image:url(//s1.cr.itc.cn/img/s/ico/0168.gif);background-position:center}
.loading2 div,.loading2 p,.loading2 a,.loading2 strong,.loading2 b,.loading2 i,.loading2 img {visibility:hidden!important}
.loading3 { min-height:100px; background-position:center}
.loading3 * { display:none}


.mw { visibility:visible;z-index:9999;position:absolute;width:500px;margin:5px;_border:5px solid #b5bbbf;_margin:0;color:#666;}
.mwDc{_display:none;position:absolute;z-index:-1;width:100%;height:100%;margin:-5px;padding:5px;*padding:6px;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;background:#838d93;-moz-opacity:0.5;opacity:.50;filter:alpha(opacity=50);}
.mwCt{position:relative;z-index:0;_height:150px;min-height:150px;margin:-1px;border:1px solid #a5aaad;background:#fff;-moz-border-radius:3px;-webkit-border-radius:3px;-khtml-border-radius:3px;}
.mwHd{height:33px;color:#444;background:#f3f3f3;border:1px solid #669bb7;border-color:#fafafa #f3f3f3 #dadada #f3f3f3;color:#666;-moz-border-radius:3px 3px 0 0;-webkit-border-radius:3px 3px 0 0;-khtml-border-radius:3px 3px 0 0;cursor:move}
.mwHd h4{font-size:14px;font-weight:bold;padding:5px 0 0 15px;}
.mwHd .nm {margin:0 3px; font-weight:bold}
.mwCt .close{top:8px;top:11px\9;height:20px;width:20px;margin:0 0 -20px -28px;margin:0 0 -20px -38px\9;}
.mwCt .close .sign q,.mwCt .close .sign .k2{font-size:14px;}
.mwCt a.close:hover{text-decoration:none;}
.mwBd{padding:15px 25px;min-height:60px;_height:60px;}
.mwFt{padding:10px 25px;background:#f7f7f7;text-align:right;-moz-border-radius:0 0 3px 3px;-webkit-border-radius:0 0 3px 3px;-khtml-border-radius:0 0 3px 3px;}
.mwFt .btn{margin:0 0 0 6px;}
.maskLayer{position:fixed;_position:absolute;top:0;left:0;z-index:9000;width:100%;height:100%;}

.mwPost .tarea textarea {height:60px}

.mw2 {width:400px}
.mw3 {width:648px}


.mwMini{width:180px;height:60px;}
.mwMini .mwHd,.mwMini .mwFt{display:none;}
.mwMini .mwCt{min-height:60px;_height:60px;text-align:center;}
.mwMini .mwBd{padding:0 0 0 72px;line-height:60px;font-size:16px;font-weight:bold;color:#666;}
.mwMiniOk  .mwBd{background:url(//s9.cr.itc.cn/img/4/002.jpg) no-repeat;}
.mwMiniFail .mwBd{background:url(//s9.cr.itc.cn/img/4/003.jpg) no-repeat;}
.mwMiniOk .close,.mwMiniFail .close{display:none}



.gpList {padding:8px 10px;border:1px solid #e7e7e7;background:#fbfbfb;-moz-border-radius:3px;-webkit-border-radius:3px;-khtml-border-radius:3px;}
.gpList ul{margin-bottom:5px;}
.gpList li{width:32.5%;display:inline-block;*display:inline;*zoom:1;margin:2px 0 3px 0;vertical-align:top;*vertical-align:auto}
.gpList .btnM b{padding:0 10px 0 8px;}
.gpCreate .btn i{font-weight:bold;}
.gpAdd .txt input{width:170px}
.gpAdd .btn {margin-left:6px}

.twiPost {}

.dropEmot {top:5px}
.dropEmot .signArr .k3 {color:#fefefe!important}
.dropEmot .signArr {left:25px}
.dropEmot .dropC {width:355px;*overflow:hidden;*zoom:1;white-space:normal}


.dropVideo {top:5px}
.dropVideo .dropC {width:355px}
.dropVideo .dropD {left:-110px;*left:-102px}
.dropVideo .signArr {left:140px;*left:130px}
.dropVideo .form3 {padding:3px 10px 20px 30px}
.dropVideo .frm{margin:0}
.dropVideo .frmT{height:25px; line-height:25px; color:#FF7200}
.dropVideo .frmUrl .txt {margin:0 7px 0 0}
.dropVideo .frmUrl .txt input{width:224px}


.postAtt li embed,.postAtt li object {position:absolute;top:0;left:0;width:100%;height:100%;filter:alpha(opacity=0)}
.dropImg .dropC {-moz-box-shadow:1px 1px 3px rgba(0,0,0,.5);-webkit-box-shadow:1px 1px 3px rgba(0,0,0,
