.x {overflow:hidden;display:inline-block;width:20px;height:20px;margin:0 0 .25em;line-height:0!important;text-decoration:none!important;vertical-align:middle;background:url(//s3.cr.itc.cn/img/i3/t/x11.png) no-repeat}

/*S emot*/
.x01 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2026.gif)}
.x02 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2027.gif)}
.x03 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2028.gif)}
.x04 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2030.gif)}
.x05 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2038.gif)}
.x06 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2033.gif)}
.x07 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2046.gif)}
.x08 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2031.gif)}
.x09 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2034.gif)}
.x10 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2035.gif)}
.x11 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2036.gif)}
.x12 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2037.gif)}
.x13 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2040.gif)}
.x14 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2060.gif)}
.x15 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2041.gif)}
.x16 {background-position:-80px 0}
.x17 {background-position:-100px 0}
.x18 {background-position:-140px 0}
.x19 {background-position:-160px 0}
.x20 {background-position:-200px 0}
.x21 {background-position:-120px 0}
.x22 {background-position:-80px -20px}
.x23 {background-position:-200px -20px}
.x24 {background-position:0 -40px}
.x25 {background-position:-20px -40px}
.x26 {background-position:-60px 0}
.x27 {background-position:-40px -40px}
.x28 {background-position:-120px -40px}
.x29 {background-position:-140px -40px}
.x30 {background-position:-160px -40px}
.x31 {background-position:-20px -140px}
.x32 {background-position:-80px -40px}
.x33,
.x34 {background-position:-100px -40px}
.x35 {background-image:url(//s3.cr.itc.cn/img/t/312.gif)}
.x36 {background-image:url(//s3.cr.itc.cn/img/t/341.gif)}
.x37 {background-image:url(//s3.cr.itc.cn/img/t/351.gif)}
.x38 {background-image:url(//s3.cr.itc.cn/img/t/352.gif)}
.x39 {background-image:url(//s3.cr.itc.cn/img/t/355.gif)}
.x40 {background-image:url(//s3.cr.itc.cn/img/t/357.gif)}
.x41 {background-image:url(//s3.cr.itc.cn/img/t/362.gif)}
.x42 {background-image:url(//s3.cr.itc.cn/img/t/379.gif)}
.x43 {background-image:url(//s3.cr.itc.cn/img/t/380.gif)}
.x44 {background-image:url(//s3.cr.itc.cn/img/t/378.gif)}
.x45 {background-image:url(//s1.cr.itc.cn/img/t/377.gif)}
.x46 {background-image:url(//s1.cr.itc.cn/img/t/382.gif)}
.x47 {background-image:url(//s1.cr.itc.cn/img/t/383.gif)}
.x48 {background-image:url(//s3.cr.itc.cn/img/t/389.gif)}
.x49 {background-image:url(//s3.cr.itc.cn/img/t/400.gif)}
.x50 {background-image:url(//s3.cr.itc.cn/img/t/398.gif)}
.x51 {background-image:url(//s3.cr.itc.cn/img/t/399.gif)}
.x52 {background-image:url(//s3.cr.itc.cn/img/t/407.gif)}
.x53 {background-position:-220px 0}
.x54 {background-position:-220px -20px}
.x55 {background-position:-200px -40px}
.x56 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2058.gif)}
.x57 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2059.gif)}
.x58 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2061.gif)}
.x59 {background-position:0 -20px}
.x60 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2029.gif)}
.x61 {background-position:-180px -40px}
.x62 {background-position:-180px 0}
.x63 {background-image:url(http://s3.cr.itc.cn/img/i3/t/061.gif)}
.x64 {background-position:-180px -20px}
.x65 {background-position:-160px -20px}
.x66 {background-position:-140px -20px}
.x67 {background-position:-120px -20px}
.x68 {background-position:-100px -20px}
.x69 {background-position:-60px -40px}
.x70 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2039.gif)}
.x71 {background-position:-60px -20px}
.x72 {background-position:-40px -20px}
.x73 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2042.gif)}
.x74 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2043.gif)}
.x75 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2044.gif)}
.x76 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2045.gif)}
.x77 {background-position:-20px -20px}
.x78 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2047.gif)}
.x79 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2048.gif)}
.x80 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2049.gif)}
.x81 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2050.gif)}
.x82 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2051.gif)}
.x83 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2052.gif)}
.x84 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2053.gif)}
.x85 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2054.gif)}
.x86 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2055.gif)}
.x87 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2056.gif)}
.x88 {background-image:url(http://s3.cr.itc.cn/img/i3/t/2057.gif)}
.x89 {background-image:url(http://s3.cr.itc.cn/img/t/425.gif)}
/*E emot*/
/*S emotPreview*/
.x01_p {background-position:0 -80px}
.x02_p {background-position:-20px -80px}
.x03_p {background-position:-40px -80px}
.x04_p {background-position:-80px -80px}
.x05_p {background-position:0 -100px}
.x06_p {background-position:-140px -80px}
.x07_p {background-position:-160px -100px}
.x08_p {background-position:-100px -80px}
.x09_p {background-position:-160px -80px}
.x10_p {background-position:-180px -80px}
.x11_p {background-position:-200px -80px}
.x12_p {background-position:-220px -80px}
.x13_p {background-position:-40px -100px}
.x14_p {background-position:-200px -120px}
.x15_p {background-position:-60px -100px}
.x16_p {background-position:-80px 0}
.x17_p {background-position:-100px 0}
.x18_p {background-position:-140px 0}
.x19_p {background-position:-160px 0}
.x20_p {background-position:-200px 0}
.x21_p {background-position:-120px 0}
.x22_p {background-position:-80px -20px}
.x23_p {background-position:-200px -20px}
.x24_p {background-position:0 -40px}
.x25_p {background-position:-20px -40px}
.x26_p {background-position:-60px 0}
.x27_p {background-position:-40px -40px}
.x28_p {background-position:-120px -40px}
.x29_p {background-position:-140px -40px}
.x30_p {background-position:-160px -40px}
.x31_p {background-position:-20px -140px}
.x32_p {background-position:-80px -40px}
.x33_p,
.x34_p {background-position:-100px -40px}
.x35_p {background-position:-220px -40px}
.x36_p {background-position:-220px -60px}
.x37_p {background-position:-20px 0}
.x38_p {background-position:0 0}
.x39_p {background-position:-40px 0}
.x40_p {background-position:-140px -60px}
.x41_p {background-position:-120px -60px}
.x42_p {background-position:0 -60px}
.x43_p {background-position:-20px -60px}
.x44_p {background-position:-40px -60px}
.x45_p {background-position:-60px -60px}
.x46_p {background-position:-80px -60px}
.x47_p {background-position:-100px -60px}
.x48_p {background-position:0 -140px}
.x49_p {background-position:-200px -60px}
.x50_p {background-position:-160px -60px}
.x51_p {background-position:-180px -60px}
.x52_p {background-position:-40px -140px}
.x53_p {background-position:-220px 0}
.x54_p {background-position:-220px -20px}
.x55_p {background-position:-200px -40px}
.x56_p {background-position:-160px -120px}
.x57_p {background-position:-180px -120px}
.x58_p {background-position:-220px -120px}
.x59_p {background-position:0 -20px}
.x60_p {background-position:-60px -80px}
.x61_p {background-position:-180px -40px}
.x62_p {background-position:-180px 0}
.x63_p {background-position:-120px -80px}
.x64_p {background-position:-180px -20px}
.x65_p {background-position:-160px -20px}
.x66_p {background-position:-140px -20px}
.x67_p {background-position:-120px -20px}
.x68_p {background-position:-100px -20px}
.x69_p {background-position:-60px -40px}
.x70_p {background-position:-20px -100px}
.x71_p {background-position:-60px -20px}
.x72_p {background-position:-40px -20px}
.x73_p {background-position:-80px -100px}
.x74_p {background-position:-100px -100px}
.x75_p {background-position:-120px -100px}
.x76_p {background-position:-140px -100px}
.x77_p {background-position:-20px -20px}
.x78_p {background-position:-180px -100px}
.x79_p {background-position:-200px -100px}
.x80_p {background-position:-220px -100px}
.x81_p {background-position:0 -120px}
.x82_p {background-position:-20px -120px}
.x83_p {background-position:-40px -120px}
.x84_p {background-position:-60px -120px}
.x85_p {background-position:-80px -120px}
.x86_p {background-position:-100px -120px}
.x87_p {background-position:-120px -120px}
.x88_p {background-position:-140px -120px}
.x89_p {background-position:-60px -140px}
/*E emotPreview*/
/*S emotSelector*/
.simi {width:349px;padding:3px;margin:0;font-size:12px; overflow:hidden;}
.simi a {display:inline-block; *display:inline;*zoom:1; overflow:hidden}
.simi .c {overflow:hidden;_overflow:visible;min-height:58px;_height:58px;padding:1px 0 0;background:url(//s3.cr.itc.cn/img/t/306.gif)}
.simi .x {margin:0;vertical-align:top}
.simi .c a {width:20px;height:20px;padding:5px;margin:-1px -1px 0 0;vertical-align:top}
.simi .c a:not(p) {text-indent:0}.simi .c a {text-indent:0\0}
.simi .c .x {text-indent:0}
.simi .c a:hover {position:relative;padding:4px;border:1px solid #90acbd;background:#e4f1f9}
.simi .arr {left:32px;top:-12px;z-index:10;width:15px;height:9px;font-size:0;line-height:0;margin:0 0 -9px -15px;background:url(//s3.cr.itc.cn/img/t/433.gif) no-repeat}
.simi .stick {position:relative;min-height:0;_height:auto;margin-bottom:-1px;background-image:url(//s3.cr.itc.cn/img/t/305.gif)}
.simi .stick a:hover {border-color:#ef874f;background:#fff3d5}

.simiT {top:-2px;position:relative;height:24px;padding:4px 0 0 8px;margin:0 -3px 1px;text-indent:-2px;background:url(http://builder.oliv.cn/img/2/002.gif) repeat-x;overflow:hidden}
.simiT a,.simiT b {overflow:hidden;display:inline-block;*display:inline;*zoom:1;height:24px;line-height:22px;line-height:25px\9;padding:0 0 0 10px;text-indent:0;vertical-align:top;background:url(//s3.cr.itc.cn/img/t/406.png) no-repeat}
.simiT b {display:block;_display:inline-block;padding:0 10px 0 0;background-position:right -25px}
.simiT a:first-child {background-position:0 -25px}/*exp*/
.simiT .on {position:relative;padding-left:12px;margin:0 -2px;background-position:0 -50px!important}
.simiT .on b {padding-right:12px;background-position:right -75px}
.simiT .on,.simiT a.on:hover {text-decoration:none;color:#666}

.simiV {left:290px;z-index:999;position:relative;width:57px;height:57px;border:1px solid #90acbd;margin:0 0 -59px 0;text-align:center;background:#fff}
.simiV .x {margin:18px 0 0}
/*S emotSelector*/


