.honor {overflow:hidden;padding-top:0;margin-right:9px;line-height:0}
.honor a:hover {text-decoration:none}
.honor .iH,.honor a {display:inline-block;margin:10px 8px 0 2px;vertical-align:top}
.honor a .iH {margin:0}
